.advant {
    min-height: 864px;
    background: $bgColGrey;

    &__content {
        display: flex;
    }
    &__wrapper {
        padding: 165px 130px 0 98px;
    }
    &__title {
        font-size: 29px;
        font-family: "Good Dog Cool";
        color: $textColGreen;
    }
    &__descr {
        margin-top: 40px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 19px;
        font-weight: 300;
        line-height: 29.17px;
    }
    &__items {
        background-color: rgba(78, 83, 66, 0.8);
        color: #eaeaea;
    }
    &__items-cont {
        width: 1110px;
        padding: 96px 0;
    }
    &__item {
        width: 307px;
    }
    &__item-title {
        font-family: "Good Dog Cool";
        font-size: 25px;
        font-weight: 400;
        line-height: 33.24px;
        margin-top: 25px;
    }
    &__item-descr {
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 33px;
    }
}

@media screen and (max-width: 1024px) {
    .advant {
        min-height: 680px;
        &__wrapper {
            padding: 50px 25px 35px 35px;
        }
        &__img {
            width: 50%;
        }
        &__descr {
            margin-top: 30px;
            line-height: 25px;
        }
        &__items-cont {
            width: 960px;
            padding: 70px 0;
        }
        &__item {
            width: 285px;
        }
    }
}

@media screen and (max-width: 768px) {
    .advant {
        &__wrapper {
            padding: 50px 50px 30px 30px;
        }
        &__content {
            text-align: right;
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 470px;
        }
        &__img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &__items-cont {
            max-width: 720px;
            padding: 30px 0;
            justify-content: space-around;
        }
        &__item {
            margin: 30px 0;
        }
    }
}

@media screen and (max-width: 426px) {
    .advant {
        &__content {
            min-height: 560px;
        }
        &__img {
            width: 85%;
        }
        &__items-cont {
            max-width: 350px;
        }
    }
}

@media screen and (max-width: 321px) {
    .advant {
        &__items-cont {
            max-width: 300px;
        }
    }
}