.book {
    min-height: 450px;
    background-color: $bgColGrey;
    padding: 45px 0 70px;
    &__title {
        color: #ffffff;
        font-size: 77px;
    }
    &__content {
        margin-top: 35px;
    }
}

.book-form {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    font-size: 17px;
    color: #ffffff;

    .form-item {
        justify-self: center;
        label {
            display: block;
        }

        &:nth-of-type(n + 4) {
            margin-top: 20px;
        }
    }

    &__label {
        font-weight: 700;
    }
    &__inp {
        padding: 3px 10px;
        color: #ffffff;
        font-size: 17px;
        background: none;
        width: 237px;
        height: 33px;
        border-radius: 8px;
        border: 2px solid #ffffff;
        margin-top: 10px;
    }
    &__btn {
        // * Align grid item
        grid-column: span 3 / span 3;
        justify-self: center;
        width: 237px;
        height: 32px;
        margin-top: 50px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        background: none;
        border: 2px solid #ffffff;
        border-radius: 8px;
        text-transform: uppercase;
        transition: 0.5s all;

        &:hover {
            background-color: #ffffff;
            color: $bgColGrey;
        }
    }
}

@media screen and (max-width: 768px) {
    .book {
        padding: 40px 0 60px;
        &__title {
            font-size: 63px;
        }
    }
    .book-form {
        // * Grid not working on adaptive
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-item {
            width: 50%;
            .book-form__inp {
                width: 100%;
            }
            &:not(:first-of-type) {
                margin-top: 40px;
            }
            &:nth-of-type(n + 4) {
                margin-top: 40px;
            }
        }
        &__btn {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 426px) {
    .book {
        .form-item {
            width: 80%;
            margin-top: 35px;
        }
    }
}
