.bring {
    background-color: $bgColGrey;
    min-height: 1206px;
    padding: 88px 0;

    &__wrapper {
        width: 1080px;
        margin: 0 auto;
        background-color: $bgColGreen;
        padding-top: 65px;
    }
    &__title {
        line-height: 60.59px;
        font-size: 46px;
    }
    &__subtitle {
        font-size: 42px;
        font-weight: 300;
        line-height: 62.81px;
    }
    &__content {
        margin-top: 65px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-auto-flow: 1fr / repeat(2, 1fr);
    }
    .bring-item {
        display: flex;
        &:nth-of-type(3),
        &:nth-of-type(4) {
            flex-direction: row-reverse;
        }
        &__img {
            width: 270px;
            height: 275px;
            aspect-ratio: 1 / 1;
        }
        &__content {
            width: 270px;
            height: 275px;
            background-color: $bgColGreen;
            opacity: 0.8;
            text-align: center;
            padding: 65px 60px;

            &-title {
                color: $textColGreen;
                font-family: 'Good Dog Cool';
                font-size: 29px;
            }
            &-text {
                color: #e8e8e8;
                font-family: 'Myriad Pro';
                font-size: 17px;
                margin: 20px 0;
            }
            &-price {
                color: #e8e8e8;
                font-family: 'Good Dog Cool';
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .bring {
        padding: 70px 0;
        &__wrapper {
            width: 810px;
            padding-top: 55px;
        }
        &__content {
            margin-top: 60px;
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            grid-auto-flow: 1fr / repeat(2, 1fr);
        }
        .bring-item {
            display: flex;
            flex-direction: column;
            &:nth-of-type(2n) {
                flex-direction: column-reverse;
            }
            &:nth-of-type(3) {
                flex-direction: column;
            }
            &:nth-of-type(4) {
                flex-direction: column-reverse;
            }
            &__img {
                width: 405px;
                height: 405px;
                aspect-ratio: 1 / 1;
            }
            &__content {
                width: 405px;
                height: 405px;
                &-title {
                    font-size: calc(29px * 1.66);
                }
                &-text {
                    font-size: calc(17px * 1.66);
                    margin: calc(20px * 1.66) 0;
                }
                &-price {
                    font-size: calc(25px * 1.66);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .bring {
        padding: 60px 0;
        &__title {
            line-height: 1.4;
        }
        &__subtitle {
            line-height: 1.4;
            font-size: 38px;
        }
        &__content {
            margin: 50px auto 0;
            width: 75%;
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        }
        &__wrapper {
            width: 100%;
            padding-top: 35px;
        }
        .bring-item {
            &__img {
                width: initial;
                height: initial;
            }
            &__content {
                width: initial;
                height: initial;
                &-title {
                    font-size: 29px;
                }
                &-text {
                    font-size: 17px;
                    margin: 20px 0;
                }
                &-price {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .bring {
        padding: 50px 0;
        &__title {
            font-size: 30px;
            line-height: 1.4;
        }
        &__subtitle {
            font-size: 26px;
            line-height: 1.4;
        }
        &__content {
            margin: 40px auto 0;
            grid-template: repeat(6, 1fr) / 1fr;
            width: 270px;
        }
        &__wrapper {
            width: 90%;
            padding-top: 30px;
        }
        .bring-item {
            &:nth-of-type(2n) {
                flex-direction: column;
            }
            &:nth-of-type(3) {
                flex-direction: column;
            }
            &:nth-of-type(4) {
                flex-direction: column;
            }
        }
    }
}