.footer {
    min-height: 325px;
    background-color: $bgColGrey;

    &__wrapper {
        min-height: 325px;
        background-color: rgba(62, 65, 54, 0.8);
        padding: 70px 0 80px;
    }
    &__content {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        column-gap: 100px;
    }
    &__title {
        color: #e7e7e7;
        font-size: 25px;
        font-weight: 700;
        line-height: 33.33px;
        text-transform: uppercase;
        margin-bottom: 40px;
        &--little {
            font-size: 21px;
        }
    }
    &__descr {
        width: 340px;
        color: #e7e7e7;
        font-size: 19px;
        font-weight: 400;
        line-height: 29.17px;
    }
    &__nav {
        display: flex;
        flex-direction: column;

        &-item {
            font-size: 21px;
            color: #e7e7e7;
            font-weight: 600;
            transition: 0.5s all;
            &:not(:first-of-type) {
                margin-top: 20px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-of-type &-item{
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        &__content {
            width: 900px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__wrapper {
            padding: 60px 0;
        }
        &__content {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            width: 700px;
            gap: 50px;
            text-align: center;
        }
        &__title {
            font-size: 23px;
            margin-bottom: 30px;
            &--little {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .footer {
        &__wrapper {
            padding: 45px 0;
        }
        &__content {
            grid-template: repeat(4, 1fr) / 1fr;
            width: 350px;
            gap: 30px;
            text-align: center;
            div {
                margin: 0;
            }
        }
        &__title {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 426px) {
    .footer {
        &__content {
            width: 300px;
            div {
                width: 300px;
            }
        }
        &__descr {
            font-size: 17px;
        }
        &__title {
            margin-bottom: 15px;
            &--little {
                font-size: 19px;
                line-height: 1.5;
            }
        }
    }
}
