@import "_mixins.scss";

body {
    font-family: Monserrat, sans-serif;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    color: $textColGreen;
    font-family: "Good Dog Cool";
    font-weight: 400;
    text-align: center;
}

.subtitle {
    color: $textColGrey;
    text-align: center;
}

