@mixin linkAnimation {
    &::after {
        content: "";
        transition: .5s all;
        display: block;
        margin: 0 auto;
        width: 0%;
        height: 7px;
        background-color: $textColGreen;
        margin-top: 5px;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

