.book {
    min-height: 450px;
    background-color: $bgColGrey;
    padding: 45px 0 70px;

    &__title {
        color: #ffffff;
        font-size: 77px;
    }
    &__content {
        margin-top: 35px;
    }
}

.book-form {
    color: #ffffff;
    font-size: 17px;
    
    &__row {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
        }
        &--mt40 {
            margin-top: 40px;
        }
    }
    &__label {
        font-weight: 700;
    }
    &__inp {
        padding: 3px 10px;
        color: #ffffff;
        font-size: 17px;
        background: none;
        width: 237px;
        height: 33px;
        border-radius: 8px;
        border: 2px solid #ffffff;
        margin-top: 6px;
    }
    &__btn {
        display: block;
        margin: 55px auto 0;
        width: 237px;
        height: 32px;
        color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        background: none;
        border: 2px solid #ffffff;
        border-radius: 8px;
        text-transform: uppercase;
        transition: .5s all;

        &:hover {
            background-color: #ffffff;
            color: $bgColGrey;
        }
    }
}
