.footer {
    min-height: 325px;
    background-color: $bgColGrey;
    transform: translateY(820px);

    &__wrapper {
        min-height: 325px;
        background-color: rgba(62, 65, 54, 0.8);
        padding: 70px 0 80px;
    }
    &__content {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: #e7e7e7;
        font-size: 25px;
        font-weight: 700;
        line-height: 33.33px;
        text-transform: uppercase;
        margin-bottom: 50px;
        &--little {
            font-size: 21px;
            color: #e7e7e7;
            font-weight: 700;
        }
    }
    &__descr {
        margin-top: 40px;
        width: 340px;
        color: #e7e7e7;
        font-size: 19px;
        font-weight: 400;
        line-height: 29.17px;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        &-item {
            margin-top: 5px;
            transition: .5s all;
            &:hover {
                text-decoration: underline;
            }
            
        }
        &-item--thin {
            font-weight: 400;
        }
    }
}

// @media (max-width: 426px) {
//     .footer {

//     }
// }

// @media (max-width: 321px) {
//     .footer {

//     }
// }
