.header {
    width: 100%;
    height: 88px;

    .menu {
        width: 740px;
        margin-left: 636px;
        display: flex;
        justify-content: space-between;

        &__item {
            opacity: 0.78;
            color: #afc67b;
            font-size: 35px;
            font-weight: 400;
            text-transform: uppercase;
            @include linkAnimation();
            &::after {
                height: 5px;
            }
        }
    }
}

// Сделай красивые анимации в макете. Здесь сделай анимацию с помощью after (увеличение подчеркивания по ширине).

// @media (max-width: 426px) {
//     .header {

//     }
// }
