.keep {
    background-color: $bgColGrey;
    text-align: center;

    &--green-bg {
        background-color: rgba(69, 73, 59, 0.8);
        min-height: 400px;
        padding: 114px 95px;
    }
    &__wrapper {
        width: 720px;
        margin: 0 auto;
    }
    &__title {
        color: $textColGreen;
        font-family: "Good Dog Cool";
        font-size: 42px;
    }
    &__descr {
        color: #dcdcdb;
        font-family: "Myriad Pro";
        font-size: 21px;
        margin-top: 30px;
    }
    &__decor {
        margin-top: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .keep {
        &--green-bg {
            min-height: 400px;
            padding: 80px 0px;
        }
        &__wrapper {
            width: 701px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .keep {
        &__wrapper {
            max-width: 650px;
        }
        &--green-bg {
            min-height: 300px;
            padding: 50px 0;
        }
    }
}
