.new-menu {
    height: 865px;
    &__parallax {
        background: url("../../img/discover/bottom_bg.jpg") center/cover no-repeat fixed;
        height: 865px;
    }
    &__wrapper {
        min-height: 865px;
        background-color: rgba(62, 65, 54, 0.8);
        padding: 45px 0 120px;
        transform: translateY(-865px);
    }
    &__title {
        font-size: 77px;
    }
    &__subtitle {
        color: #e7e7e7;
        font-size: 48px;
    }
    &__content {
        margin-top: 50px;
    }
    &__inner {
        padding: 25px 20px;
    }
    &__item {
        width: 339px;
        min-height: 500px;
        background-color: #e7e7e7;

        &-img {
            width: 100%;
        }
        &-date {
            color: #555555;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.05px;
        }
        &-title {
            margin-top: 20px;
            color: #4f4e4e;
            font-size: 17px;
            font-weight: 700;
        }
        &-descr {
            color: #4f4e4e;
            font-size: 17px;
            margin-top: 5px;
        }
        &-btn {
            margin-top: 25px;
            color: #555555;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.05px;
            width: 98px;
            @include linkAnimation();
        }
    }
}

@media screen and (max-width: 1024px) {
    .new-menu {
        &__item {
            width: 290px;
            min-height: 450px;
        }
    }
}

@media screen and (max-width: 768px) {
    .new-menu {
        min-height: 1260px;
        &__parallax {
            min-height: 1260px;
        }
        &__wrapper {
            transform: translateY(-1260px);
            padding: 47px 0;
        }
        &__content {
            margin-top: 0px;
            justify-content: space-around;
        }
        &__item {
            margin-top: 50px;
        }
    }
}
