.reviews {
    min-height: 340px;
    background-color: $bgColGrey;
    transform: translateY(820px);
    text-align: center;
    padding: 50px 0;

    &__content {
        margin: 0 auto;
        max-width: 685px;
    }
    &__decor {
        color: $textColGreen;
        font-family: "Good Dog Cool";
        font-size: 83px;
    }
    &__descr {
        color: #aac078;
        font-size: 19px;
    }
    &__author {
        margin-top: 15px;
        color: $textColGreen;
        font-family: "Good Dog Cool";
        font-size: 29px;
    }
    &__social {
        width: 330px;
        margin: 33px auto 0;
        display: flex;
        justify-content: space-between;

        &-item {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            color: $bgColGrey;
            background-color: #fff;
            font-size: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .5s all;

            &:hover {
                background-color: #aac078;
            }
        }
    }
}
