.reviews {
    min-height: 340px;
    background-color: $bgColGrey;
    text-align: center;
    padding: 50px 0;

    &__slider {
        width: 770px;
        min-height: 220px;
        position: relative;
        &-nav {
            color: $textColGreen;
        }
    }
    &__decor {
        color: $textColGreen;
        font-family: "Good Dog Cool";
        font-size: 83px;
    }
    &__descr {
        color: #aac078;
        font-size: 19px;
        max-width: 650px;
        margin: 0 auto;
    }
    &__author {
        margin-top: 15px;
        color: $textColGreen;
        font-family: "Good Dog Cool";
        font-size: 29px;
    }
    .swiper-pagination {
        display: none;
        width: 100px;
        height: 20px;
        position: absolute;
        left: calc(50% - 50px);
        bottom: 0;
        &-bullet {
            background-color: $textColGreen;
            height: 15px;
            width: 15px;
        }
    }
    &__social {
        width: 330px;
        margin: 33px auto 0;
        display: flex;
        justify-content: space-between;

        &-item {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            color: $bgColGrey;
            background-color: #fff;
            font-size: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s all;

            &:hover {
                background-color: #aac078;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .reviews {
        padding: 40px 0;
        &__slider {
            width: 700px;
            &-slide {
                width: 650px;
            }
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
        &__descr {
            max-width: 600px;
        }
    }
}